<%= link_to edit_authors_post_path(post), class: 'text-decoration-none' do %>
    <div class="card mb-3 post-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <% if post.header_image.attached? %>
              <div class="header-img" style="background-image: url(<%= url_for(post.header_image) %>);"></div>
            <% end %>
          </div>
          <div class="col-md-8">
            <% if post.published? %>
              <span class='badge badge-primary mb-3'>Published</span>
            <% else %>
              <span class='badge badge-secondary mb-3'>Unpublished</span>
            <% end %>

            <h5 class='card-title mb-2 text-dark'><%= post.title %></h5>
            <p class='text-secondary mb-0'><%= post.description %></p>
          </div>



      <p>Reported by <%= pluralize(post.reports.count,'User')%></p>
        </div>
      </div>
       <div class="card-footer">
      <%= link_to 'Delete', authors_post_path(post), method: :delete, class: 'btn btn-danger mt-3 ml-5 mb-3', data: { confirm: "Are you sure?" } %>



        <%=render partial: 'shared/publisher' ,locals: {post: post}%>



  
         </div>
    </div>

  <% end %>
